---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
  <Header />
  <main>
    <h1>About Us</h1>
    <p>This is the about page where you can learn more about our website.</p>
  </main>
  <Footer />
</Layout>
