---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
  <Header />
  <main>
    <h1>Welcome to the Home Page</h1>
    <p>This is the main content of the homepage.</p>
  </main>
  <Footer />
</Layout>
